@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,800;1,300&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

//about page
.main-content{
    position:relative;
    right:0;
    width:100%;
    height:100vh;
    padding:100px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background:  linear-gradient(to bottom, blue,aqua);
    color:white;
    z-index: 2;
    transition: 0.5s;
   
    .card{
        position:absolute;
        top:35%;
        right:20%;
        width:60vw;
        height:55vh;
        background:white;
        box-shadow:20px 20px 20px 2px rgba(0,0,0,0.3);
        z-index:20;
        display:flex;
        justify-content: center;
        align-items: center;
        .text-2{
   
    
            p{
                font-size:1.1rem;
                margin:20px;
                font-weight:400;
                max-width: 600px;
                color:rgb(143, 139, 139);
            }
            img{
                position: absolute;
                left:45%;
            }
        }
    }
    .text{
        
        z-index: 10;
        h2{
            font-size:5rem;
            font-weight: 800;
            line-height: 1em;
            text-transform: uppercase;
            text-emphasis: outline;
            position:absolute;
            top:15%;
            right:35%;
        }
       
        
    }


        
    
}

   

    header{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        padding:40px 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1;

       
    
    .toggle{
        position:relative;
        width:60px;
        height:60px;
        background:url('/assets/white-burger-menu.png');
        background-repeat: no-repeat;
        background-size:30px;
        background-position: center;
        cursor: pointer;

       
    }
    .logo{
        
    
        text-transform: uppercase;
        cursor: pointer;
        a{
            text-decoration: none;
           color:white;
            }
    }
}
   .toggle.active{
    background:url('/assets/white-x-cross.png');
    background-repeat: no-repeat;
    background-size:25px;
    color:white;
    background-position: center;
    cursor: pointer;
   } 
    svg{
       
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        
        opacity:0.9;
    }
    img{
        height:5vh;
    

}



 .main-content.active{
    right:300px;
 }
 

 .menu{
     position:absolute;
  top:0;
  right:0;
  width:300px;
  height:100%;
  display:flex;
  align-items: center;
  justify-content: center;
  ul{
      position: relative;
      list-style: none;
      li a{
          text-decoration: none;
          font-size:24px;
          color:black;
          &:hover{
              color:#03a9f4;
          }
      }
  }
 }
 


 .custom-shape-divider-bottom-1610031413 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1610031413 svg {
    position: relative;
    display: block;
    width: calc(119% + 1.3px);
    height: 279px;
}

.custom-shape-divider-bottom-1610031413 .shape-fill {
    fill:white;
}



//End of about page
